<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security6">

<head>

</head>

<body>
    <div th:fragment="aside">
        <div class="container">
            <div class="title-page">
                <h4>Hàng Hóa</h4>
            </div>
            <div class="card mb-2">
                <div class="card-header toggle-header">
                    Loại hàng
                </div>
                <div class="card-body toggle-body">
                    <form>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="hangHoaThuong">
                            <label class="form-check-label" for="hangHoaThuong">
                                Hàng hóa thường
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="hangHoaLoiHanSuDung">
                            <label class="form-check-label" for="hangHoaLoiHanSuDung">
                                Hàng hóa - lỗi, hạn sử dụng
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="hangHoaSanXuat">
                            <label class="form-check-label" for="hangHoaSanXuat">
                                Hàng hóa - sản xuất
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="dichVu">
                            <label class="form-check-label" for="dichVu">
                                Dịch vụ
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="comboDongGoi">
                            <label class="form-check-label" for="comboDongGoi">
                                Combo - Đóng gói
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-header toggle-header">
                    Loại hàng
                </div>
                <div class="card-body toggle-body">
                    <form>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="hangHoaThuong">
                            <label class="form-check-label" for="hangHoaThuong">
                                Hàng hóa thường
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="hangHoaLoiHanSuDung">
                            <label class="form-check-label" for="hangHoaLoiHanSuDung">
                                Hàng hóa - lỗi, hạn sử dụng
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="hangHoaSanXuat">
                            <label class="form-check-label" for="hangHoaSanXuat">
                                Hàng hóa - sản xuất
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="dichVu">
                            <label class="form-check-label" for="dichVu">
                                Dịch vụ
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="comboDongGoi">
                            <label class="form-check-label" for="comboDongGoi">
                                Combo - Đóng gói
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>