<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    th:replace="~{/site/layouts/main :: dynamic(~{::main})}">

<head></head>

<body>

    <main>
        <!-- Hero Start -->
        <div class="container-fluid py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-md-12 col-lg-7">
                        <h4 class="mb-3 text-secondary">100% Organic Foods</h4>
                        <h1 class="mb-5 display-3 text-primary">Organic Veggies & Fruits Foods</h1>
                    </div>
                    <div class="col-md-12 col-lg-5">
                        <div id="carouselId" class="carousel slide position-relative" data-bs-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active rounded">
                                    <img src="/site/img/hero-img-1.png"
                                        class="img-fluid w-100 h-100 bg-secondary rounded" alt="First slide">
                                    <a href="#" class="btn px-4 py-2 text-white rounded">Fruites</a>
                                </div>
                                <div class="carousel-item rounded">
                                    <img src="/site/img/hero-img-2.jpg" class="img-fluid w-100 h-100 rounded"
                                        alt="Second slide">
                                    <a href="#" class="btn px-4 py-2 text-white rounded">Vesitables</a>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselId"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselId"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->


        <!-- Featurs Section Start -->
        <div class="container-fluid featurs py-5">
            <div class="container">
                <div class="row g-4">
                    <div class="col-md-6 col-lg-3" th:each="feature : ${features}">
                        <div class="featurs-item text-center rounded bg-light p-4">
                            <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
                                <i th:class="${feature.iconHtml}"></i>
                            </div>
                            <div class="featurs-content text-center">
                                <h5 th:text="${feature.featureName}"></h5>
                                <p class="mb-0" th:text="${feature.featureDescription}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Featurs Section End -->


        <!-- Fruits Shop Start-->
        <div class="container-fluid fruite ">
            <div class="container py-5">
                <div class="text-center mx-auto mb-5" style="max-width: 700px;">
                    <h1 class="display-4">Bestseller Products</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-12">
                        <div class="row g-4">
                            <div class="col-md-6 col-lg-4 col-xl-3" th:each="productWithImage : ${productWithImages}">
                                <div class="rounded position-relative fruite-item">
                                    <div class="fruite-img" style="position: relative; width: 100%; padding-bottom: 100%;">
                                        <a   style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                                            th:href="@{/sms/shopdetails/{productId}(productId=${productWithImage.product.productId})}">

                                            <img th:src="${'/site/img/' + productWithImage.productImage.url}"
                                                class="img-fluid w-100 rounded-top" alt="">
                                        </a>
                                    </div>
                                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                        style="top: 10px; left: 10px;"
                                        th:text="${productWithImage.product.category.name}"></div>
                                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                        <h4 th:text="${productWithImage.product.productName}"></h4>
                                        <div class="d-flex justify-content-between flex-lg-wrap">
                                            <p class="text-dark fs-5 fw-bold mb-0"
                                                th:text="'$' + ${productWithImage.product.unitPrice} + ' / kg'"></p>
                                            <a th:attr="ng-click=@{|add(${productWithImage.product.productId})|}"
                                                class="btn border border-secondary rounded-pill px-3 text-primary"><i
                                                    class="fa fa-shopping-bag me-2 text-primary"></i> Add to
                                                cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- Fruits Shop End-->

        <!-- Banner Section Start-->
        <div class="container-fluid banner bg-secondary my-5">
            <div class="container py-5">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-6">
                        <div class="py-4">
                            <h1 class="display-3 text-white">Fresh Exotic Fruits</h1>
                            <p class="fw-normal display-3 text-dark mb-4">in Our Store</p>
                            <p class="mb-4 text-dark">The generated Lorem Ipsum is therefore always free from repetition
                                injected humour, or non-characteristic words etc.</p>
                            <a href="#"
                                class="banner-btn btn border-2 border-white rounded-pill text-dark py-3 px-5">BUY</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="position-relative">
                            <img src="/site/img/baner-1.png" class="img-fluid w-100 rounded" alt="">
                            <div class="d-flex align-items-center justify-content-center bg-white rounded-circle position-absolute"
                                style="width: 140px; height: 140px; top: 0; left: 0;">
                                <h1 style="font-size: 100px;">1</h1>
                                <div class="d-flex flex-column">
                                    <span class="h2 mb-0">50$</span>
                                    <span class="h4 text-muted mb-0">kg</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Section End -->


        <!-- Bestsaler Product Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="text-center mx-auto mb-5" style="max-width: 700px;">
                    <h1 class="display-4">Discounted Products</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-6 col-xl-4" th:each="item : ${dicountProductWithImages}">
                        <div class="p-4 rounded bg-light">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <a th:href="@{/sms/shopdetails/{productId}(productId=${item.product.productId})}">>
                                        <img th:src="${'/site/img/' + item.productImage.url}"
                                            class="img-fluid rounded-circle w-100" alt="">
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a th:href="@{/sms/shopdetails}" class="h5"
                                        th:text="${item.product.productName}"></a>
                                    <h4 class="mb-3 text-decoration-line-through"
                                        th:text="'$' + ${item.product.unitPrice}">
                                    </h4>

                                    <h4 class="mb-3"
                                        th:text="'$' + ${item.product.unitPrice * (1 - item.product.discount)}"></h4>
                                    <a th:attr="ng-click=@{|add(${item.product.productId})|}"
                                        class="btn border border-secondary rounded-pill px-3 text-primary"><i
                                            class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bestsaler Product End -->
    </main>

</body>

</html>