<div>
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">authority</p>
                        <div class="table-responsive">
                            <table id="recent-purchases-listing" class="table">
                                <thead class="text-center">
                                    <tr>
                                        <th></th>
                                        <th class="font-weight-bold" ng-repeat="role in db.roles">{{role.roleId}}</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr ng-repeat="account in db.accounts">
                                        <td><span class="font-weight-bold">{{account.username}}</span></td>
                                        <td ng-repeat="role in db.roles">
                                            <input type="checkbox" class="form-check-input"
                                                ng-checked="index_of(account.username, role.roleId) >= 0"
                                                ng-click="update(account.username, role.roleId)">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>