<!-- partial -->
<div ng-controller="banHangCtrl">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-7 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="container">
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-primary" type="submit">Search</button>
                            </form>
                        </div>
                        <div class="image-card">
                            <figure class="image-item text-center" ng-repeat="product in page">
                                <img ng-click="cart.add(product.productId)" src="/app/images/faces/face1.jpg" alt="Image 1">
                                <figcaption>{{product.productName}}</figcaption>
                            </figure>
                        </div>
                        <div class="row justify-content-center align-items-center g-2">
                            <div class="col-auto">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                      <li class="page-item" ng-class="{disabled: currentPage === 1}">
                                          <a class="page-link" ng-click="setPage(1)">First</a>
                                      </li>
                                      <li class="page-item" ng-class="{disabled: currentPage === 1}">
                                          <a class="page-link" ng-click="setPage(currentPage - 1)">Previous</a>
                                      </li>
                                      <li class="page-item" ng-class="{disabled: currentPage >= totalItems/itemsPerPage}">
                                          <a class="page-link" ng-click="setPage(currentPage + 1)">Next</a>
                                      </li>
                                      <li class="page-item" ng-class="{disabled: currentPage >= totalItems/itemsPerPage}">
                                          <a class="page-link" ng-click="setPage(totalItems/itemsPerPage)">Last</a>
                                      </li>
                                  </ul>
                                  </nav>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Giỏ Hàng</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Ten SP
                                                </th>
                                                <th>
                                                    Giá
                                                </th>
                                                <th>
                                                    Số Lượng
                                                </th>
                                                <th>
                                                    Tổng
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in cart.items">
                                                <td>
                                                    {{item.productName}}
                                                </td>
                                                <td>
                                                    {{item.unitPrice}}
                                                </td>
                                                <td><!-- Input Order -->
                                                    <div class="quantity-container">
                                                        <input type="number" id="quantity" ng-model="item.qty" min="1">
                                                    </div>
                                                    <!--/ End Input Order -->
                                                </td>
                                                <td>
                                                    <span>${{item.qty*item.unitPrice | number:2}}</span>
                                                </td>
                                                <td class="action" data-title="Remove"><a
                                                    ng-click="cart.remove(item.productId)"><i class="bi bi-trash3-fill"></i></a></td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Thông Tin Đơn Hàng</h4>
                        <form action="/process-payment" method="post">
                            <div class="row mb-3">
                                <label for="name" class="col-sm-1 col-form-label"><i class="bi bi-geo-fill"></i></label>
                                <div class="col-sm-11">
                                    <input type="text" class="form-control input-underline" id="name" name="name"
                                        required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="name" class="col-sm-1 col-form-label"><i
                                        class="bi bi-geo-alt-fill"></i></label>
                                <div class="col-sm-11">
                                    <input type="text" class="form-control input-underline" id="name" name="name"
                                        required placeholder="Tên Người Nhận">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="name" class="col-sm-1 col-form-label"></label>
                                <div class="col-sm-11">
                                    <input type="text" class="form-control input-underline" id="name" name="name"
                                        required placeholder="Điện Thoại">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="name" class="col-sm-1 col-form-label"></label>
                                <div class="col-sm-11">
                                    <input type="text" class="form-control input-underline" id="name" name="name"
                                        required placeholder="Số Nhà,tòa nhà,ngõ,đường">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="name" class="col-sm-1 col-form-label"></label>
                                <div class="col-sm-11">
                                    <input type="text" class="form-control input-underline" id="name" name="name"
                                        required placeholder="Khu vực">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="name" class="col-sm-1 col-form-label"></label>
                                <div class="col-sm-11">
                                    <input type="text" class="form-control input-underline" id="name" name="name"
                                        required placeholder="Ghi chú cho tài xế">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="amount" class="col-sm-1 col-form-label"><i
                                        class="bi bi-pen-fill"></i></label>
                                <div class="col-sm-11">
                                    <input type="text" class="form-control input-underline" id="amount"
                                        name="amount" required placeholder="Ghi chú đơn hàng">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="name" class="col-sm-4 col-form-label">Tổng Tiền
                                    Hàng:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-underline text-center" id="name"
                                        name="name" disabled value="${{cart.amount |number:2}}">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="email" class="col-sm-4 col-form-label">Giảm
                                    Giá:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-underline" id="email"
                                        name="email" required>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="card-number" class="col-sm-4 col-form-label">Thu
                                    Khác:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-underline" id="card-number"
                                        name="card-number" required >
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="amount" class="col-sm-4 col-form-label">Khách
                                    Cần Trả:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input-underline" id="amount"
                                        name="amount" required>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary w-100">Thanh toán</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer"></footer>
        <!-- partial -->
    </div>
    <!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->