<!-- partial -->
<div>
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <form class="form-inline my-2 my-lg-0 mr-auto">
                            <div class="position-relative">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                
                            </div>
                            <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">
                                <i class="fas fa-search"></i> Search
                            </button>
                            <div class="ml-auto">
                                <button type="button" class="btn btn-primary">
                                    <i class="fas fa-file-export"></i> Xuất File
                                </button>
                                <a href="#!themMoiNhapHang">
                                <button type="button" class="btn btn-primary ml-2">
                                    <i class="fas fa-plus"></i> Thêm mới
                                </button>
                            </a>
                            </div>
                        </form>
                        <br>
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th>Mã nhập hàng</th>
                                        <th>Ngày Tạo</th>
                                        <th>Tổng Tiền Nhập</th>
                                        <th>Nơi Gửi</th>
                                        <th>Trạng Thái</th>
                                        <th>Người Tạo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-toggle="collapse" data-target="#customer1" class="accordion-toggle"
                                    ng-repeat-start="item in page" ng-click="showDetails(item)">
                                        <td>{{item.orderId}}</td>
                                        <td>{{item.orderDate}}</td>
                                        <td>{{item.totalPrice}}</td>
                                        <td>{{item.shipAddress}}</td>
                                        <td>{{item.orderStatus == 1? 'Chưa Xử Lý':'Đã Xử Lý'}}</td>
                                        <td>{{item.seller}}</td>
                                        <td></td>
                                    </tr>
                                    <tr ng-if="selectedRow === item" ng-repeat-end>
                                        <td colspan=" 8" class="hiddenRow">
                                            <div id="customer1" class="accordion-body collapse p-3">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                            <li class="nav-item">
                                                                <a class="nav-link active" id="info-tab" data-toggle="tab"
                                                                    href="#info" role="tab" aria-controls="info"
                                                                    aria-selected="true">Chi Tiết Đơn Nhập</a>
                                                            </li>
                                                            
                                                        </ul>
                                                        <div class="tab-content mt-3" id="myTabContent">
                                                            <div class="tab-pane fade show active" id="info" role="tabpanel"
                                                                aria-labelledby="info-tab">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <form class="w-100">
                                                                            <div class="form-table">
                                                                                <div class="form-row">
                                                                                    <div class="form-cell">
                                                                                        <label for="productName"
                                                                                            class="col-form-label">Tên
                                                                                            sản phẩm</label>
                                                                                    </div>
                                                                                    <div class="form-cell">
                                                                                        <label for="quantity"
                                                                                            class="col-form-label">Giá Nhập</label>
                                                                                    </div>
                                                                                    <div class="form-cell">
                                                                                        <label for="actualQuantity"
                                                                                            class="col-form-label">Giá Bán</label>
                                                                                    </div>
                                                                                    <div class="form-cell">
                                                                                        <label for="difference"
                                                                                            class="col-form-label">Số Lượng</label>
                                                                                    </div>
                                                                                    <div class="form-cell">
                                                                                        <label for="difference"
                                                                                            class="col-form-label">Tổng Tiền Sản Phẩm</label>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-row"  ng-repeat="orderDetail in orderDetails">
                                                                                    <div class="form-cell">
                                                                                        <input type="text"
                                                                                            class="form-control"
                                                                                            id="productName"
                                                                                            value="World wide trades"
                                                                                            readonly ng-model="orderDetail.product.productName">
                                                                                    </div>
                                                                                    <div class="form-cell">
                                                                                        <input type="text"
                                                                                            class="form-control"
                                                                                            id="quantity"
                                                                                            value="100" ng-model="orderDetail.import_price">
                                                                                    </div>
                                                                                    <div class="form-cell">
                                                                                        <input type="text"
                                                                                            class="form-control"
                                                                                            id="actualQuantity"
                                                                                            value="95" ng-model="orderDetail.price">
                                                                                    </div>
                                                                                    <div class="form-cell">
                                                                                        <input type="text"
                                                                                            class="form-control"
                                                                                            id="difference"
                                                                                            value="5" ng-model="orderDetail.quantity">
                                                                                    </div>
                                                                                    <div class="form-cell">
                                                                                        <input type="text"
                                                                                            class="form-control"
                                                                                            id="difference"
                                                                                            ng-value="orderDetail.import_price * orderDetail.quantity">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Add other tab contents here as needed -->
                                                        </div>
                                                        <div class="row mt-3">
                                                            <div class="col-md-12">
                                                                <button type="button" class="btn btn-success" ng-click="update()">Cập nhật</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <!-- Add more customer rows as needed -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row justify-content-center align-items-center g-2">
                        <div class="col-auto">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="page-item" ng-class="{disabled: currentPage === 1}">
                                        <a class="page-link" ng-click="setPage(1)">First</a>
                                    </li>
                                    <li class="page-item" ng-class="{disabled: currentPage === 1}">
                                        <a class="page-link" ng-click="setPage(currentPage - 1)">Previous</a>
                                    </li>
                                    <li class="page-item"
                                        ng-class="{disabled: currentPage >= totalItems/itemsPerPage}">
                                        <a class="page-link" ng-click="setPage(currentPage + 1)">Next</a>
                                    </li>
                                    <li class="page-item"
                                        ng-class="{disabled: currentPage >= totalItems/itemsPerPage}">
                                        <a class="page-link" ng-click="setPage(totalItems/itemsPerPage)">Last</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    <footer class="footer"></footer>
    <!-- partial -->
</div>
<!-- main-panel ends -->