<div>
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <form class="form-inline my-2 my-lg-0 mr-auto">
                            <div class="position-relative">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                    aria-label="Search">
                            </div>
                            <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">
                                <i class="fas fa-search"></i> Search
                            </button>
                            <div class="ml-auto">
                                <a href="#!quanLyChiNhanh">
                                  <button type="button" class="btn btn-primary ml-2">
                                    <i class="fas fa-th-list"></i> Danh Sách Chi Nhánh
                                  </button>
                                </a>
                            </div>
                        </form>
                        <br><br>
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="branchCode">Tên chi nhánh:</label>
                                    <input type="text" class="form-control" id="branchCode"
                                        placeholder="Nhập Tên chi nhánh" ng-model="form.branchName">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="branchType">Tên quản lý chi nhánh:</label>
                                    <select class="form-control" ng-model="form.managerBranch"
                                        ng-options="c as c.fullname for c in selectRoleUser track by c.username">
                                        <option value="">Chọn Người Quản Lý</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="branchName">Địa Chỉ chi nhánh:</label>
                                    <input type="text" class="form-control" id="branchName"
                                        placeholder="Nhập địa chỉ chi nhánh" ng-model="form.address">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="managerName">Số điện thoại:</label>
                                    <input type="text" class="form-control" id="managerName"
                                        placeholder="Nhập số điện thoại chi nhánh" ng-model="form.phone">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="branchAddress">Email:</label>
                                    <input type="email" class="form-control" id="branchAddress" placeholder="Nhập Email"
                                        ng-model="form.email">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="create()">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>